* {
	box-sizing: border-box;
}

body {
	font-family: 'Arial', 'Times', 'Times New Roman', sans-serif;
}

h1 {
	font-family: 'Arial', 'Helvetica', Times, sans-serif;
	font-size: 24px;
	padding-top: 10px;
}

p {
	font-family: 'Arial', 'Helvetica', 'Times New Roman', sans-serif;
	padding: 10px;
}